.git
.gitignore
.env
.env.*
node_modules
**/node_modules
__pycache__
**/__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
dist/
**/dist
build/
**/build
.pytest_cache/
**/.pytest_cache
.mypy_cache/
**/.mypy_cache
.ruff_cache/
**/.ruff_cache
docs/
*.md
LICENSE
.idea/
.vscode/
*.log